In [1]:
# import necessary libraries
import sqlite3

In [7]:
# Check if the connection to the db is successful by printing the first 5 rows of the persons table
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM persons LIMIT 5')
    for row in rows:
        print(row)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(5, 'Tony', 'Lindgren', 7, 'west port', 2345678)

In [8]:
# Use the group by function to count the different ages in the persons table
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT COUNT(*), age FROM persons GROUP BY age')
    for row in rows:
        print(row)

(2, 5)
(1, 6)
(1, 7)
(3, 8)
(1, 9)
(2, 11)
(3, 12)
(1, 13)
(4, 14)
(2, 16)
(2, 17)
(3, 18)
(1, 19)
(3, 22)
(2, 23)
(3, 24)
(2, 25)
(1, 27)
(1, 30)
(3, 31)
(1, 32)
(1, 33)
(2, 34)
(3, 35)
(3, 36)
(1, 37)
(2, 39)
(1, 40)
(1, 42)
(2, 44)
(2, 48)
(1, 49)
(1, 50)
(2, 51)
(2, 52)
(2, 53)
(2, 54)
(1, 58)
(1, 59)
(1, 60)
(1, 61)
(2, 62)
(1, 63)
(2, 65)
(2, 66)
(1, 67)
(3, 68)
(1, 69)
(1, 70)
(4, 71)
(1, 72)
(5, 73)
(3, 74)

In [11]:
# Use the ORDER BY function to see which age group has the most people in it
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT COUNT(*), age FROM persons GROUP BY age ORDER BY COUNT(*) DESC')
    for row in rows:
        print(row)

(5, 73)
(4, 71)
(4, 14)
(3, 74)
(3, 68)
(3, 36)
(3, 35)
(3, 31)
(3, 24)
(3, 22)
(3, 18)
(3, 12)
(3, 8)
(2, 66)
(2, 65)
(2, 62)
(2, 54)
(2, 53)
(2, 52)
(2, 51)
(2, 48)
(2, 44)
(2, 39)
(2, 34)
(2, 25)
(2, 23)
(2, 17)
(2, 16)
(2, 11)
(2, 5)
(1, 72)
(1, 70)
(1, 69)
(1, 67)
(1, 63)
(1, 61)
(1, 60)
(1, 59)
(1, 58)
(1, 50)
(1, 49)
(1, 42)
(1, 40)
(1, 37)
(1, 33)
(1, 32)
(1, 30)
(1, 27)
(1, 19)
(1, 13)
(1, 9)
(1, 7)
(1, 6)

In [17]:
# Use the select function with a conditional to find all the people who don't have a last name
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM persons WHERE last_name IS NULL')
    for row in rows:
        print(row)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(6, 'Cary', None, 73, 'new port', 76856785)
(8, 'Francisca', None, 14, 'west port', 123456)
(10, 'Raleigh', None, 68, 'new port', 2345678)
(11, 'Maria', None, 42, 'west port', 123456)
(12, 'Mariane', None, 62, 'south port', 9756543)
(13, 'Mona', None, 44, 'south port', 76856785)
(14, 'Kayla', None, 36, 'south port', 2345678)
(15, 'Karlie', None, 35, 'west port', 123456)
(16, 'Morris', None, 71, 'west port', 76856785)
(17, 'Sandy', None, 23, 'east port', 2345678)
(18, 'Hector', None, 63, 'east port', 9756543)
(19, 'Hiram', None, 52, 'west port', 2345678)
(20, 'Tressa', None, 59, 'new port', 123456)
(21, 'Berry', None, 22, 'south port', 2345678)
(22, 'Pearline', None, 73, 'new port', 9756543)
(23, 'Maynard', None, 25, 'east port', 123456)
(24, 'Dorian', None, 40, 'east port', 123456)
(25, 'Mylene', None, 5, 'east port', 76856785)
(26, 'Lafayette', None, 34, 'new port', 2345678)
(29, 'Tara', None, 39, 'west port', 123456)
(30, 'Destiny', None, 18, 'south port', 2345678)
(31, 'Lesly', None, 31, 'west port', 123456)
(32, 'Perry', None, 19, 'south port', 76856785)
(35, 'Maritza', None, 73, 'east port', 9756543)
(37, 'Grant', None, 61, 'east port', 76856785)
(39, 'Laury', None, 17, 'east port', 9756543)
(40, 'Name', None, 52, 'east port', 9756543)
(41, 'Estefania', None, 32, 'new port', 76856785)
(42, 'Destiney', None, 65, 'west port', 2345678)
(43, 'Jaquelin', None, 73, 'west port', 9756543)
(45, 'Alfonzo', None, 16, 'east port', 2345678)
(46, 'Lisandro', None, 11, 'new port', 76856785)
(49, 'Priscilla', None, 65, 'east port', 76856785)
(50, 'Elenora', None, 11, 'new port', 76856785)
(52, 'Rudolph', None, 14, 'east port', 76856785)
(56, 'Ona', None, 35, 'east port', 9756543)
(57, 'Rebeca', None, 50, 'new port', 76856785)
(59, 'Sigurd', None, 12, 'west port', 76856785)
(63, 'Alice', None, 8, 'west port', 76856785)
(64, 'Dane', None, 24, 'west port', 9756543)
(65, 'Judge', None, 17, 'south port', 76856785)
(66, 'Allene', None, 9, 'new port', 9756543)
(67, 'Jalen', None, 33, 'new port', 2345678)
(70, 'Myron', None, 36, 'new port', 9756543)
(73, 'Travon', None, 16, 'south port', 2345678)
(74, 'Shayna', None, 60, 'new port', 2345678)
(75, 'Myah', None, 14, 'east port', 2345678)
(82, 'Letha', None, 44, 'new port', 9756543)
(84, 'Felton', None, 74, 'east port', 2345678)
(85, 'London', None, 66, 'east port', 9756543)
(86, 'Koby', None, 31, 'west port', 9756543)
(87, 'Golden', None, 35, 'east port', 76856785)
(89, 'Anissa', None, 8, 'south port', 76856785)
(91, 'Sid', None, 22, 'west port', 123456)
(96, 'Ernesto', None, 69, 'east port', 9756543)
(97, 'Josianne', None, 14, 'west port', 76856785)

In [19]:
# Count the occurrences of owner_id in the pets table to find out how many people have more than one pet
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT COUNT(*), owner_id FROM pets GROUP BY owner_id WHERE COUNT(*) > 1')
    for row in rows:
        print(row)

OperationalError: near "WHERE": syntax error

In [21]:
# Ok, I need to select owner_id, then group by owner_id, then count the occurrences
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT owner_id, COUNT(*) as count FROM pets GROUP BY owner_id WHERE count(*) > 1')
    for row in rows:
        print(row)

OperationalError: near "WHERE": syntax error

In [24]:
# The where conditional is causing me problems, so I'm going to try the having conditional
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT owner_id, COUNT(*) owner_id FROM pets GROUP BY owner_id HAVING count(*) > 1')
    for row in rows:
        print(row)

(2, 3)
(5, 3)
(6, 2)
(7, 3)
(9, 2)
(10, 3)
(13, 2)
(14, 2)
(16, 2)
(18, 2)
(20, 2)
(21, 3)
(24, 2)
(25, 3)
(26, 2)
(27, 5)
(28, 2)
(31, 2)
(33, 3)
(35, 3)
(36, 3)
(37, 4)
(38, 2)
(39, 2)
(40, 4)
(42, 3)
(43, 3)
(45, 2)
(48, 2)
(49, 2)
(50, 3)
(51, 3)
(53, 2)
(56, 5)
(57, 3)
(58, 2)
(60, 3)
(64, 3)
(67, 2)
(86, 2)
(98, 3)
(99, 3)
(100, 2)

In [30]:
# Ok, getting closer, but I actually just want to count the number of people with more than one pet, not print out all the 
# owner_ids with more than one pet. I had to peek at the solutions file for this one, my mind was having a hard time 
# figuring out the layers of this query. 
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT COUNT(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) > 1)')
    for row in rows:
        print(row)

(43,)

In [38]:
# Use select, count, and where to find out how many pets have received treatment.
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT COUNT(*) FROM pets WHERE treatment_done = 1')
    for row in rows:
        print(row)

(36,)

In [41]:
# Build on the above query and find out how many of those pets receiving treatment have a type != NaN
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT COUNT(*) FROM pets WHERE treatment_done = 1 AND pet_type IS NOT NULL')
    for row in rows:
        print(row)

(16,)

In [45]:
# To find out how many pets are from east port, I'm going to have to use join because I need information from both 
# tables (city from persons, connects by owner_id to pets) to complete the query by counting the number of occurrences of 
# owner_id that meet the query criteria. 
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
    for row in rows:
        print(row)

(49,)

In [46]:
# Now building on the last query, add in the conditional that the pet has received treatment and count those
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()
    rows = cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
    for row in rows:
        print(row)

(11,)